html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Admin Portal
    link(rel="stylesheet" href="/res/stylesheets/bootstrap.css")
    link(rel="stylesheet" href="/res/stylesheets/user.css")

  body
    .container.text-center.page
          .imgContainer
            img(src="..." class="rounded d-block" alt="Logo")
            
          .card.login.border-0
            .card-body
              h1.card-title User Login
              form.loginForm(method="post" action="/processUserLogin")
                p#authTip.text-danger.fw-bold Incorrect User ID/Password
                .form-floating.m-3.row
                  input(type="text" class="form-control" id="userID" placeholder="User ID" name="userID")
                  label(for="floatingID") User ID
                .form-floating.m-3.row
                  input(type="password" class="form-control" id="password" placeholder="Password" name="password")
                  label(for="floatingPassword") Password
                .m-3.row
                  input.btn.form-control.btn-primary.w-100.m-auto(type="submit" value='Login')

    script(src="/res/scripts/bootstrap.js")
    script(src="/res/scripts/user.js")
