.container{
    height: 100vh;
    min-height: 100vh;
}

.content{
    height: 100vh;
    min-height: 100vh;
}

.left-col{
    background-color: #0500FF;;
}

.d-flex{
    align-items: center;
}

h1.card-title{
    margin-top:-50%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom:20%;
}

#authTip{
    display:none;
}
